<h1 class="left">Login</h1>
<form action="/login" method="post">
  <label class="white">Email</label>
  <input name="email" type="email">

  <label class="white">Password</label>
  <input name="password" type="password">

  <button class="btn btn-primary">Login</button>
</form>
<br>
<a class="btn btn-warning" href="/users" "users">Back</a>

