

<h1>Farmers Market Database</h1>

<% if current_user %>
<ul>
  <% @users.each do |user| %>
    <li>
      <h3>Signed up User:</h3>
      <!--
        if the current user is admin
        i want them to be able to be to alter other users settings
      -->
      <%= user.email %>
      <% if current_user.is_admin %>
        <% if user.is_admin %>
        <!-- send a a post to the users controller
        and tell it which user you want to change
        then save and redirect back here -->
          take away admin
        <% else %>
          make admin
        <% end %>
      <% end %>
    </li>

  <% end %>
  </ul>

<% end %>

<%= link_to 'View All Items', items_path %>

