<h1>Users index html</h1>

<% if current_user %>
<ul>
  <% @users.each do |user| %>
    <li><h3>Signed up User:</h3> <%= user.email %> - <%= user.password_digest %></li>

  <% end %>
  </ul>
  <form action="/logout" method="post">
    <input name="_method" value="DELETE" type="hidden">
      <button>Logout</button>
    <!-- </input> -->
  </form>
<% else %>
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
<% end %>
