<h1 class="left">Sign Up</h1>

<form action="/signup" method="post">
  <label>Email</label>
  <input name="email" type="email" placeholder="Email">

  <label>Password</label>
  <input name="password" type="password" placeholder="Password">

  <label>Password Confirmation</label>
  <input name="password_confirmation" type="password" placeholder="Password Confirmation">

  <button class="btn btn-success">Sign Up</button>
</form>
<br>
<%= link_to 'Back', users_path, :class => 'type="button" class="btn btn-warning' %>
